<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ReloadMDI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Reload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ReloadMDI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ReloadMDI.Properties.Settings>
            <setting name="ReportURL" serializeAs="String">
                <value>http://141.22.26.238/dataentry.aspx</value>
            </setting>
            <setting name="ReportIncludeTopology" serializeAs="String">
                <value>True</value>
            </setting>
        </ReloadMDI.Properties.Settings>
        <Reload.Properties.Settings>
            <setting name="ReportEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReportURL" serializeAs="String">
                <value>https://saints.bercos.de/test/generic_tests/chordmonitor/dataentry.aspx</value>
            </setting>
            <setting name="ReportIncludeTopology" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReportIncludeStatistic" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DemoMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaintenancePeriod" serializeAs="String">
                <value>15000</value>
            </setting>
            <setting name="SuccessorCacheSize" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TraceLevel" serializeAs="String">
                <value>-129</value>
            </setting>
            <setting name="DemoModeMaxNodes" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="Client" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TLS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RetransmissionTime" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="MaxRetransmissions" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="TLS_Passtrough" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReportingPeriod" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="IgnoreSSLErrors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DNS_Address" serializeAs="String">
                <value>141.39.43.91</value>
            </setting>
        </Reload.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ReloadMDI.Properties.Settings>
            <setting name="ReportEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReportIncludeStatistic" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DemoMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaintenancePeriod" serializeAs="String">
                <value>15000</value>
            </setting>
            <setting name="SuccessorCacheSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TraceLevel" serializeAs="String">
                <value>32543</value>
            </setting>
            <setting name="DemoModeMaxNodes" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="Client" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TLS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxRetransmissions" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="TLS_Passtrough" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReportingPeriod" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="IgnoreSSLErrors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DNS_Address" serializeAs="String">
                <value>141.22.26.233</value>
            </setting>
            <setting name="ReportIncludeConnections" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ListenPort" serializeAs="String">
                <value>6084</value>
            </setting>
            <setting name="ForceLocalConfig" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimeStamps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Framing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnrollmentServer" serializeAs="String">
                <value>http://enroll.t-reload.realmv6.org/p2psip/enroll/</value>
            </setting>
            <setting name="HAWEnrollment" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowPrivateIP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RetransmissionTime" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="ReportIncludeFingers" serializeAs="String">
                <value>True</value>
            </setting>
        </ReloadMDI.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
