<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="ReloadGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="ReloadGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
        <ReloadGUI.Properties.Settings>
            <setting name="ReportEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReportIncludeStatistic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DemoMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaintenancePeriod" serializeAs="String">
                <value>150000</value>
            </setting>
            <setting name="SuccessorCacheSize" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TraceLevel" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DemoModeMaxNodes" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="Client" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TLS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RetransmissionTime" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="MaxRetransmissions" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="TLS_Passtrough" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReportingPeriod" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="IgnoreSSLErrors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReportIncludeConnections" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ListenPort" serializeAs="String">
                <value>9001</value>
            </setting>
            <setting name="ForceLocalConfig" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimeStamps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DNS_Address" serializeAs="String">
                <value>8.8.8.8</value>
            </setting>
            <setting name="Framing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnrollmentServer" serializeAs="String">
                <value />
            </setting>
            <setting name="HAWEnrollment" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowPrivateIP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseDNS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Fragment_Size" serializeAs="String">
                <value>12000</value>
            </setting>
            <setting name="DontCheckSSLCert" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="only_RSA_NULL_MD5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoUpdate_Data_Tree" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Fragmentation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StunIP1" serializeAs="String">
                <value />
            </setting>
            <setting name="StunIP2" serializeAs="String">
                <value />
            </setting>
            <setting name="UseNoIce" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseUPnP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseSR" serializeAs="String">
                <value>False</value>
            </setting>
        </ReloadGUI.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ReloadGUI.Properties.Settings>
            <setting name="ReportIncludeTopology" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReportURL" serializeAs="String">
                <value>http://localhost/ChordMonitor/dataentry.aspx</value>
            </setting>
        </ReloadGUI.Properties.Settings>
    </applicationSettings>
</configuration>
