<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TSystems.RELOAD.Enroll.EnrollmentSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TSystems.RELOAD.Enroll.EnrollmentSettings>
            <setting name="CN" serializeAs="String">
                <value />
            </setting>
            <setting name="Country" serializeAs="String">
                <value />
            </setting>
            <setting name="Locality" serializeAs="String">
                <value />
            </setting>
            <setting name="State" serializeAs="String">
                <value />
            </setting>
            <setting name="Organization" serializeAs="String">
                <value />
            </setting>
            <setting name="Unit" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </TSystems.RELOAD.Enroll.EnrollmentSettings>
    </userSettings>
</configuration>